.counter-container{
    color:rgb(235, 55, 67);
    text-align:center;
    margin:40px 0;
}
#count{
    font-size:60px;
    color:rgb(89, 86, 154);
    margin-bottom:20px;
}
.counter-container button{
    padding:10px 18px;
    margin:8px;
    font-size:20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    color:rgb(214, 6, 58);
    font-weight:bolder;
    font-style: oblique;
    font-family:cursive;
}
.counter-container button:hover{
    opacity:0.85;
    font-size:xx-large;
    color:rgb(38, 101, 118);
    font-family:monospace;
}
body{
    background-color: rgb(235, 234, 234);
}
h2{
 color: rgb(2, 100, 103);
}