/* Light Theme (Default) */

body{
    background-color:#FFF8F5;
    color:#222;
    transition:0.4s;
    font-family:Arial, sans-serif;
}

/* Theme Button */

.theme-container{
    text-align:right;
    padding:20px;
}

#themebtn{
    padding:10px 18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    background:#222;
    color:white;
    transition:0.3s;
}

#themebtn:hover{
    opacity:0.85;
}

/* Dark Theme */

.dark-theme{
    background:#1b1b1b;
    color:white;
}

.dark-theme #themebtn{
    background:white;
    color:black;
}

.dark-theme input,
.dark-theme textarea{
    background:#333;
    color:white;
    border:1px solid white;
}

.dark-theme input[type="submit"]{
    background:white;
    color:black;
}