body{
    margin:0;
    font-family:serif;
    background:#ccc3cc;
    transition:0.4s;
}

.container{
    text-align:center;
    margin-top:120px;
}

button{
    padding:10px 18px;
    margin:10px;
    font-size:12px;
    cursor:pointer;
    border:0cqw;
    border-radius:8px;
    font-family: serif;
}

h2{
    margin-top:25px;
    font-size:24px;
}